body {
  font-family: "Krona One", sans-serif;
}
.nav {
  background-color: #000f08;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  top: 1222px;
  left: 0px;
  width: 1900px;
  height: 90px;
}
.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
  color: white;
}
.bghero {
  width: 1900px;
  height: 450px;
  margin-left: 0px;
  padding-top: 0px;
  top: 5;
}
h1 {
  margin-left: 600px;
  margin-right: 50px;
}
.texto1 {
  position: absolute;
  top: 300px;
  left: 680px;
  width: 1000px;
  height: 10px;
  text-align: right;
  color: white;
}
.texto2 {
  color: white;
  position: absolute;
  top: 380px;
  left: 1110px;
  width: 1000px;
  height: 10px;
}
.wework {
  position: absolute;
  left: 40%;
  padding-top: 0px;
  bottom: 0%;
  top: 350px;
  left: 400px;
  width: 400px;
  height: 350px;
}
.cafesi {
  position: absolute;
  top: 15px;
  left: 100px;
  width: 40px;
  height: 40px;
}
.dnd {
  position: absolute;
  top: 1050px;
  left: 799px;
  width: 1800px;
  height: 400px;
}
.post {
  position: absolute;
  top: 960px;
  left: 60px;
  width: 415px;
  height: 244px;
}
.girl {
  position: relative;
  top: 385px;
  left: 250px;
  width: 312px;
  height: 294px;
  z-index: 3;
}
.calle {
  position: absolute;
  top: 1130px;
  left: 770px;
  height: 400px;
}
.todos {
  position: relative;
  top: 315px;
  left: 680px;
  width: 1000px;
  height: 10px;
}
.prox {
  position: absolute;
  text-align: left;
  background-color: tomato;
  color: white;
  top: 1251px;
  width: 1000px;
  left: 0px;
  height: 350px;
  padding-left: 900px;
  padding-top: 50px;
  z-index: 2;
}
.eventos {
  position: absolute;
  top: 1800px;
  left: 150px;
  width: 10000px;
  height: 10px;
}
.machine-learning {
  position: absolute;
  top: 960px;
  left: 380px;
  width: 415px;
  height: 244px;
}
.simposio {
  position: absolute;
  top: 2190px;
  left: 230px;
  width: 415px;
  height: 244px;
}
.machine {
  position: absolute;
  top: 2190px;
  left: 840px;
  width: 415px;
  height: 244px;
}
.scream {
  position: absolute;
  top: 960px;
  left: 700px;
  width: 415px;
  height: 244px;
}
.scrum {
  position: absolute;
  top: 2190px;
  left: 1499px;
  height: 300px;
}
.footer {
  position: absolute;
  text-align: center;
  background-color: #000f08;
  color: white;
  top: 2350px;
  left: 0px;
  width: 1900px;
  height: 100px;
  padding-top: 200px;
}
.pagetwo {
  position: absolute;
  text-align: left;
  top: 150px;
  left: 200px;
  width: 1085px;
  height: 565px;
}
.unamañana {
  position: absolute;
  text-align: left;
  top: 1050px;
  left: 400px;
  width: 1085px;
  height: 565px;
  font-size: 23px;
}
.gregorio {
  position: absolute;
  text-align: center;
  top: 500px;
  left: -300px;
  height: 1000px;
}
.samsa {
  position: absolute;
  text-align: left;
  top: 100px;
  left: 300px;
  width: 1085px;
  height: 565px;
  font-size: 23px;
}
.fab {
  position: absolute;
  color: white;
  font-size: 100px;
  top: 80px;
  left: 300px;
  width: 1085px;
  height: 565px;
}
#casi{
  position: absolute;
  color: white;
  font-size: 100px;
  top: 80px;
  left: 400px;
  width: 1085px;
  height: 565px;
}
#bom{
  position: absolute;
  color: white;
  font-size: 100px;
  top: 80px;
  left: 500px;
  width: 1085px;
  height: 565px;
}
